/***navigation hader****/
.fbdy{
        margin: 10px;
    }
    
.nvh{
    margin: auto;
    
    
}
.scrd{
    padding:10px;
}
.fa-heart{
    color: red;
    background-color: transparent;
    border:none;
}
footer{
    background-color: #01CBC6;
    position: absolute;
    width: 100%;
    text-align: center;
}
/*************social Icon***********/
.list{
    margin-top:180px;
    margin-bottom:90px;
    margin-left:-40px;;
}
.list1{
    
    display:inline;
    padding:10px;
    font-size:20px;
}
.fac{
    color:#3B5998;
}
.tw{
    color:#429cd6;
}
.g{
    color:red;
}
.in{
    color:saddlebrown;
}
.p{
    color:gold;
}
 
.aba{
    margin-bottom: 30px;
    margin-top:30px;
}
.frm{
    margin-top:7px;
    margin-bottom:7px;
    background-color: white;
}
.frml{
    margin-top:100px;
    margin-bottom:30px;
    background-color: white;
}
/********Mobile view************/
@media only screen and (max-width: 600px) {
    .fbdy{
        margin: 10px;
    }
    
.frml{
    margin-top:45px;
        
}
}