/***navigation hader****/
.fbdy{
        margin: 10px;
    }
    
.nvh{
    margin: auto;
    
    
}
.fa-heart{
    color: red;
    background-color: transparent;
    border:none;
}
footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/*************social Icon***********/
.list{
    margin-top:180px;
    margin-bottom:90px;
    margin-left:-40px;;
}
.list1{
    
    display:inline;
    padding:10px;
    font-size:20px;
}
.fac{
    color:#3B5998;
}
.tw{
    color:#429cd6;
}
.g{
    color:red;
}
.in{
    color:saddlebrown;
}
.p{
    color:gold;
}
 
/********Mobile view************/
@media only screen and (max-width: 600px) {
    .fbdy{
        margin: 10px;
    }
    
}
